*
	{
		transition: all 0.5s;
		scroll-behavior: smooth;
	}

body
	{
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
		scroll-behavior: --webkit-smooth;
		font-family: "arial", sans-serif;
	}

header
	{
		display: flex;
		height: 50px;
		padding: 0 20px;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0 3px 5px 1px rgba(0,0,0,0.2);
		top: 0;
		width: calc(100% - 40px);
		background-color: white;
		position: sticky;
	}

div.logo
	{
		justify-slef:flex-start;
	}

div.logo > img
	{
		max-width: 340px;
	}

div.menu
	{
		display: flex;
		height: 100%;
	}

div.menu > a
	{
		text-decoration: none;
		display: inline-block;
		min-width: 100px;
		padding: 15px;
		margin: 0;
		font-size: 1em;
		text-align: center;
		color:rgba(0,0,0,255);
	}

div.menu > a:hover
	{
		background-color: purple;
		color:rgba(255,255,255,255);
		cursor: pointer;
	}

div.menu > a.select
	{
		background-color: rgba(0,0,0,0.3);
		color:rgba(255,255,255,255);
	}

section
	{
		min-height:calc(100vh - 50px);
	}

section:nth-child(odd)
	{
		background: rgba(0,0,0,0.05);
	}

section#inicio, section#descrip, section#redes
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

section#inicio
	{
		background-color: purple;
	}

div.img
	{	
		background-image: url("../img/fotos/02.jpg");
		background-size: cover;
		min-height: 500px;
	}

div.img2
	{
		background-image: url("../img/fotos/01.jpg");
		background-size: cover;
		min-height: 500px;
	}

div.img3
	{
		background-image: url("../img/fotos/03.jpg");
		background-size: cover;
		min-height: 500px;
	}

div.img4
	{
		background-image: url("../img/fotos/04.jpg");
		background-size: cover;
		min-height: 500px;
	}

div.img > img 
	{
		height: 100%;
	}

div.intro, div.texto
	{
		color: white;
		padding: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

div.texto
	{
		color:black;
	}

div.texto > p
	{
		font-size: 1.2em;
	}

div.columnas
	{
		height: 100%;
		display: flex;
		flex-direction: column;
	}

h2.titulo
	{
		font-family: 'Libre Baskerville';
		font-size: 3em;
		margin: 20px 5px 10px 5px;
	}

.purpura
	{
		color: purple;
	}

div.intro p
	{
		font-size: 1.5em;	
		padding: 0 40px;
	}

div.discos
	{
		display: grid;
		grid-template-columns: 80px 1fr 80px;
		height: 420px;
	}

div.boton
	{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 12px;
		margin: 10px;
		border: 2px solid purple;
		color:purple;
		font-size: 2em;
		cursor:pointer;
	}

div.boton:hover
	{
		background: purple;
		color:white;
	}

article.contenedor
	{
		width: 100%;
		display: flex;
		flex-direction: row;
		overflow: hidden;
	}

article.contenedor > div
	{
		padding: 10px;
	}

img.lp
	{
		max-width: 350px;
		max-height: 350px;
	}

img.lp:hover
	{
		max-width: 360px;
		max-height: 360px;	
	}

div.listado
	{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

a.link
	{
		max-width: 70px;
		max-height: 70px;
	}

a.link:hover
	{
		max-width: 100px;
		max-height: 100px;
	}

a.link > img
	{
		width: 100%;
	}

section#redes > article
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: black;
		color: white;
	}

section#redes > article > div.texto
	{
		color: white;
	}